$font-sans: 'Roboto';
$font-serif: 'Roboto Slab';

$color-gray: #C6CCD0;
$blue: #003B4F;
$dark-blue: #08262C;
$teal: #088199;
$color-base: $dark-blue;

$large-screen: 1140px;
$spacing-xlarge: 4rem;

$button-border-radius: 3px;
